@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Noto Sans', sans-serif;
}

.global-container {
  display: flex;
  height: 100vh;
  background-color: #ffffff;
}

.left-container {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  width: 240px;
  background-color: #ffffff;
  padding: 24px 16px;
  border-style: solid;
  border-color: #e5e5e5;
}

.right-container {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  flex-grow: 1;
  background-color: #ffffff;
  padding: 0px 64px;
}